* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

div {
	height: 100vh;
	background-color: #d3d3d3;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

ul {
	list-style-type: none;
	margin: auto;
}

li {
    padding-left: 20px;
	width: 300px;
    height: 50px;
}

li > a {
	display: block;
	padding: 15px 6px;
	text-decoration: none;
	text-transform: uppercase;
    color: #000;
}

 li a:hover {
	color: #007;
	text-decoration: underline;
}

h2 {
	text-align: center;
}

p {
	padding-top: 50px;
	padding-left: 50px;
}

#box1 {
	float: left;
	display: block;
	width: 500px;
	height: 500px;
	margin-left: 25px;
}
#box2 {
	float: left;
	display: block;
	width: 500px;
	height: 500px;
	margin-left: 25px;
}
#box3 {
	float: left;
	display: block;
	width: 500px;
	height: 500px;
	margin-left: 25px;
	border: 2px solid red;
}
